In [34]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [28]:
covid_df = pd.read_csv('../Recursos-Tareas/CovidEcuador.csv')
covid_df = covid_df.fillna(0)
covid_df['date']=pd.to_datetime(covid_df["date"]).dt.strftime("%Y%m%d")
covid_df

,date,total_cases,new_cases,total_deaths,new_deaths,new_tests,total_tests,new_tests_smoothed,new_tests_smoothed_per_thousand,positive_rate,tests_per_case,total_vaccinations,people_vaccinated,people_fully_vaccinated,new_vaccinations,new_vaccinations_smoothed,new_vaccinations_smoothed_per_million
0,20200301,6,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20200302,6,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,20200303,7,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,20200304,10,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,20200305,13,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
402,20210407,339604,1902,17057.0,53.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12809.0,726.0
403,20210408,341619,2015,17115.0,58.0,0.0,0.0,0.0,0.0,0.0,0.0,363255.0,250631.0,112624.0,0.0,11450.0,649.0
404,20210409,342678,1059,17158.0,43.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,17323.0,982.0
405,20210410,344877,2199,17275.0,117.0,0.0,0.0,0.0,0.0,0.0,0.0,457460.0,274160.0,183300.0,0.0,23197.0,1315.0
406,20210411,346817,1940,17293.0,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:

x = covid_df[['date', 'new_cases', 'total_deaths', 'new_deaths', 'new_tests','total_tests','total_vaccinations']]

#para separar nuestra variable dependiente de la independiente, haremos lo siguiente:

y = covid_df['total_cases']

x.head()

,date,new_cases,total_deaths,new_deaths,new_tests,total_tests,total_vaccinations
0,20200301,6,0.0,0.0,0.0,0.0,0.0
1,20200302,0,0.0,0.0,0.0,0.0,0.0
2,20200303,1,0.0,0.0,0.0,0.0,0.0
3,20200304,3,0.0,0.0,0.0,0.0,0.0
4,20200305,3,0.0,0.0,0.0,0.0,0.0

In [36]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=.2, random_state=42)

In [38]:
y_train.shape

(325,)

In [46]:
from sklearn.linear_model import LinearRegression 
modelo = LinearRegression()
modelo.fit(X_train, y_train)

LinearRegression()

In [47]:
print('w = ' + str(modelo.coef_) + ', b = ' + str(modelo.intercept_))

w = [ 5.29346873  3.16314017 11.95961119 -1.36960232 -1.85332279  0.03804797
  0.17305132], b = -106927972.50610836